body, html
{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-size: 16px;
	font-family: helvetica, arial;
	background: linear-gradient(45deg, #efe055 0%, #f9037e 100%);
	color: #111;
}

.wrapper
{
	width: 100%;
	height: 100%;
	display: table;
}

.main
{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.quiz-frame
{
	border: 0;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/* .image_head {
	width: 200px;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
  max-height: 240px;
  text-align: center;
  overflow: hidden;
} */
.img {
  width: 100%;
}
.quiz__head
{
	font-size: 20pt;
}

.head__content 
{
	padding: 5px;
}

.quiz__body
{
	margin: 10px;
}

.quiz__footer 
{
  margin: auto;
  height: 90px;
  width: 900px;
}

.footer__content 
{
	padding: 20px;
}

.button
{
	border-radius: 10px;
	width: 700px;
	height: 30px;
	font-size: 12pt;
	cursor: pointer;
	

	text-decoration: none;
    display: inline-block;
    padding: 20px 30px;
    margin: 10px 20px;
    position: relative;
    color: white;
    border: 1px solid rgba(255, 255, 255, .4);
    background: none;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.button:before, .button_start:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    box-sizing: border-box;
  }
  .button:before {
    bottom: 0;
    left: 0;
    border-left: 1px solid white;
    border-top: 1px solid white;
    transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
  }
  .button:after {
    top: 0;
    right: 0;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    transition: 0s ease opacity .4s, .2s ease width, .2s ease height .2s;
  }
  .button:hover:before, 
  .button:hover:after {
    height: 100%;
    width: 100%;
    opacity: 1;
  }
  .button:hover:before {
    transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
  }
  .button:hover:after {
    transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
  }

.button_wrong 
{
	background: #EB6465;
}

.button_correct
{
	background: #5EB97D;
}

.button_passive
{
	background: #B3B3B3;
}

.button_restart {
	background: #011aff;
}
.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #14d60d 0%, #B721FF 100%);
    z-index: 1001;
    color: #eee;
  }

  .preloader__image {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
  }

  @keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  .loaded_hiding .preloader {
    transition: 3s opacity;
    opacity: 0;
  }

  .loaded .preloader {
    display: none;
  }
  .button_restart {
	  border-radius: 10px;
	  width: 30%;
	  font-size: 15pt;
	  cursor: pointer;

	  text-decoration: none;
    padding: 20px 30px;
    margin: 10px 20px;
    position: relative;
    color: white;
    border: 1px solid rgba(255, 255, 255, .4);
    background: none;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
	
	color: #FFF;
	transition: all 0.5s;
	position: relative; 
  }
  .button_restart span {
	z-index: 2; 
	display: block;
	position: absolute;
	width: 100%;
	height: 100%; 
  }
  .button_restart::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.5s;
	border: 1px solid rgba(255,255,255,0.2);
	background-color: rgba(255,255,255,0.1);
  }
  .button_restart::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.5s;
	border: 1px solid rgba(255,255,255,0.2);
	background-color: rgba(255,255,255,0.1);
  }
  .button_restart:hover::before {
	transform: rotate(-45deg);
	background-color: rgba(255,255,255,0);
  }
  .button_restart:hover::after {
	transform: rotate(45deg);
	background-color: rgba(255,255,255,0);
  }

  .button_restart {
    border-radius: 10px;
    width: 30%;
    font-size: 15pt;
    cursor: pointer;
  
    text-decoration: none;
    text-align: center;
    padding: 20px 30px;
    margin: 10px 20px;
    position: relative;
    color: white;
    border: 1px solid rgba(255, 255, 255, .4);
    background: none;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    
    color: #FFF;
    transition: all 0.5s;
    position: relative; 
    }
    .button_restart span {
    z-index: 2; 
    display: block;
    position: absolute;
    width: 100%;
    height: 100%; 
    }
    .button_restart::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.1);
    }
    .button_restart::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.1);
    }
    .button_restart:hover::before {
    transform: rotate(-45deg);
    background-color: rgba(255,255,255,0);
    }
    .button_restart:hover::after {
    transform: rotate(45deg);
    background-color: rgba(255,255,255,0);
    }

	.ques{
		padding-top: 20px;
	}

	.my-imag{
		width: auto;
		height: 250px;
		align-items: center;
	}